<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class = 'pane'>
<h1>Platforms</h1>



{% for platform in platforms %}



<a href = '{{url_for('gameCatalog', platform_id = platform.id)}}'> <p>{{platform.name}}</p></a>

<div>
	<a href="#" onclick="signOut();">Sign out</a>
	<script>
	  function signOut() {
	    var auth2 = gapi.auth2.getAuthInstance();
	    auth2.signOut().then(function () {
	      console.log('User signed out.');
	    });
	  }
	</script>
</div>

{% endfor %}

</div>
</body>

</html>
